fastapi
uvicorn[standard]
python-dotenv
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pinecone-client
openai
unstructured
pypdf
python-docx
langchain
langchain-community
langchain-google-vertexai
langchain-pinecone
langchain-openai
tiktoken
pandas
lxml
html5lib
beautifulsoup4
nest-asyncio
python-multipart
aiofiles
langchain-google-genai 