fastapi
uvicorn[standard]
python-dotenv
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pinecone-client
openai
unstructured.io
pymupdf
python-docx
langchain
langchain-community
langchain-google-vertexai
langchain-pinecone
langchain-openai
tiktoken
pandas
lxml
html5lib
beautifulsoup4
americandream-tv
nest-asyncio 